.navbar-brand {
    color: black;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.img-thumbnail {
    width: 15%;
    margin-top: 10px;
}