/*Nav Bar and Logo */
.navbar-brand {
    color: black;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.img-thumbnail {
    width: 50%;
    margin-top: 10px;
}

.container-fluid {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0px auto;
    width: 70%;

}

.container-fluid :hover{
    background-color: #7BDCB5;
    color: white;
}

/*Tag Line*/
.Tagline-box {
  background-color: #7BDCB5;
  font-family: 'Bebas Neue', cursive;
  font-weight: bold;
  font-size: small;
  border: 5px solid white;
  text-align: center;
  margin: 10px 0px 0px;
  width: 50%;
  margin: auto;
  border-radius: 10px;
  }

/* Main Event Carousel*/
.carousel .carousel-indicators li {
  background-color: #7BDCB5;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
  /* Position the "next button" to the right */
.carousel .carousel-control-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* Position the "next button" to the right */
.carousel .carousel-control-prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a green background color with a little bit see-through */
.carousel-control-prev:hover, .carousel-control-next:hover {
  background-color: #7BDCB5;
  height: 100%;
}
.carousel {
  min-width: 10%;
  max-height: 100%;
  max-height: 400px;
  margin-bottom: 60px;
  height:auto;
}
.mycarousel {
height: 100%;
border: 5px solid white;
border-radius: 10px;
}
#body{
height: 100%;
}
.Wrapper {
background-color: black;
border-radius: 10px;
top: 0;
left: 0;
min-width: 10%;
max-width: 50%;
max-height: 100%;
width: auto;
margin-right:auto;
margin-left:auto;
height:auto;
}
.Image1 {
top: 0;
left: 0;
min-width: 10%;
max-width: 40%;
max-height: 100%;
width: auto;
margin-right:auto;
margin-left:auto;
height:auto;
}
.Image2 {
  top: 0;
  left: 0;
  min-width: 10%;
  max-width: 40%;
  max-height: 100%;
  width: auto;
  margin-right:auto;
  margin-left:auto;
  height:auto;
}
.Image3 {
  top: 0;
  left: 0;
  min-width: 10%;
  max-width: 40%;
  max-height: 100%;
  width: auto;
  margin-right:auto;
  margin-left:auto;
  height:auto;
}
/* Coffee Pics */
.coffee-images {
    display:flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 20px;
    position: relative;
    border-radius: 12px;
    grid-template-rows: repeat(2, 1fr);
}

  .image1
  {
    display:flex;
    border-radius: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
    width: 30%;
    border: 5px solid white;
  }
  .image2
  {
    display:flex;
    border-radius: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
    width: 30%;
    border: 5px solid white;
  }
  .image3
  {
    display:flex;
    border-radius: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
    width: 30%;
    border: 5px solid white;
  }

  /*Wine Pics*/
  .wine-images
 {
display:flex;
justify-content: center;
align-items: center
 }
 .wine1
 {
    display:grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    border-radius: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
    border: solid;
    border-width: 5px;
    border-color:black;
 }
 .wine2
 {
    display:grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    border-radius: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
    border: solid;
    border-width: 5px;
    border-color:black;
 }
 .wine3
 {
    display:grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    border-radius: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
    border: solid;
    border-width: 5px;
    border-color:black;
 }

.heading1
{
 font-family: bebas neue, roboto;
margin-left: auto;
width: 55%;
align-items: center;
justify-items: center;
font-size: 25px;
}

.events
  {
    display: flex;
    justify-content: center;
    align-content: centre;
    margin: 0px auto;
    width: 50%;
  }

.event1
  {
    border-radius: 10px;
    border: 5px solid white;
  }
.heading1
  {
font-family: bebas neue, roboto;
margin-left: auto;
width: 55%;
align-items: center;
justify-items: center;
font-size: 25px;
  }
.heading2
  {
font-family: bebas neue, roboto;
margin-left: auto;
width: 55%;
align-items: center;
justify-items: center;
font-size: 25px;
  }

  /*About Us*/
  .about-us
  {
  float: left;
  margin-left: 150px;
  margin-top: 30px;
  font-family: bebas neue, roboto;
  width: 50%;
  align-content: center;
  text-align: center;
  justify-items: center;
  font-size: 30px;
  border-style:double;
  border-color: white;
  border-width: 10px;
  }

/* Staff Pics */
.aboutus {
  width: 100%;
  display: block;
  margin: 0px auto;
  margin-bottom: 20px;
}

.staffpics {
  float: right;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 25%;
  padding: 10px;
  margin: 0px auto;
  margin-right: 150px;
}

.staff1, .staff2, .staff3 {
  border: 5px solid white;
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
  margin: 10px;
}

/* Map */
.findus {
  width: 100%;
  display:inline-table;
  
}

.map {
  float: left;
  width: 50%;
  justify-content: center;
  align-content: center;
  text-align: center;
 }

 .address {
  float: right;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 50%;
 }

/* Footer */
/* footer {
  background-color: #7BDCB5;
  color: white;
  padding: 10px;
  margin: 20px;
  border: 5px solid white;
  border-radius: 10px;
} */

p.hashtag {
  text-align: center;
}

.socials {
  text-align: center;
  word-spacing: 15px;
  background-color: #7BDCB5;
}

.solid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  float: left;
  clear: right;
  margin-right: -10px;
}

.socials .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.socials a {
  text-decoration: none;
  color: white;
  font-size:x-large;
}

.socials a:hover {
  background-color: #abb8c3;
}

.newsletter {
  text-align: center;
}

.newsletter {
border-radius: 10px;
padding: 0px 0px 0px 16px;
width: 70%;
height: 50px;
text-align: left;
color:black;
background-color: rgb(255, 255, 255);
border: 1px solid #7BDCB5;
} 

/* .subscribebutton { 
  background-color: #7BDCB5;
  border-radius: 6px;
  border: 6px solid #7BDCB5;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1;
  white-space: normal;
  padding: 11px 10px;
  text-align: center;
  word-break: break-word;
  align-self: flex-end;
  cursor: pointer;
  height: auto;
}*/

/* .subscribebutton:hover { */
  /* background-color: #abb8c3; */
/* } */

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

html, body {
	background-color: #7BDCB5;
}

form {
  display:block;
  justify-content: center;
  align-items: center;
  text-align: left;
  border: 5px solid white;
  border-radius: 10px;
  width: 70%;
  background-color: #7BDCB5;
  color: white;
  border-radius: 10px;
  width: 100%;
  text-align: left;
  color:black;
  font-size: 20px;
  font-weight: 400;
  animation-name: scaleanimation;
	animation-duration: .3s;
	background: #7BDCB5;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
	left: 50%;
  position:relative;
	transform: translate(-50%,-50%);
	width: 100%;
}

	label {
    border-radius: 10px;
    width: 70%;
		color: white;
		display: block;
		font-family: 'Lato', 'Helvetica' ,sans-serif;
		font-weight: 400;
		font-size: 18px;
		line-height: 55px;
		letter-spacing: .05em;
		text-align: center;
		text-transform: uppercase;
		width: 70%;
  }

	input[type="email"] {
    justify-content: center;
    align-items: center;
    text-align: left;
    border-radius: 10px;
    width: 70%;
    height: 50px;
    border: 1px solid black;
		background: white;
		color: #7BDCB5;
		font-family: 'Lato', 'Helvetica' ,sans-serif;
		font-size: 20px;
		font-weight: 400;
		width: 70%;
		padding: 0;
		transition: all .2s ease;
  }

		&::placeholder{
			color: white;
			display: block!important;
			font-family: 'Lato', 'Helvetica' ,sans-serif;
			font-size: 14px;
			font-weight: 400;
			letter-spacing: .8px;
			transition: all .2s ease;
			backface-visibility: hidden;
			perspective: 1000;
			text-transform: uppercase;
			visibility: visible!important;
    }

		&.hasValue, &:focus {
			background-size: 100% 100%;
    }

			&::placeholder {
				color: #7BDCB5;
				display: block!important;
				transform: translate3d(0%, -135%, 0);
    }

	input[type="submit"] {
		background: #7BDCB5;
		border: none;
		cursor: pointer;
		color: white;
		float: left;
		font-family: 'Lato', 'Helvetica' ,sans-serif;
		font-size: 16px;
		height: 70px;
		letter-spacing: .8px;
		line-height: 70px;
		position: relative;
		text-align: center;
		transition: all .3s ease-out;
		text-transform: uppercase;
		overflow: hidden;
		width: 70%;
  }

  input[type="submit"]:hover{
    background-color: #abb8c3;
  }

		&:hover {
			background: #34495E;
			color: white;
    }
@keyframes scaleanimation 0%;
		opacity: 0;
		transform: translate(-50%,-50%) scale(1.5,1.5);

@keyframes scaleanimation 100%;
		opacity: 1;
		transform: translate(-50%,-50%) scale(1,1);