.navbar-brand {
    color: black;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.img-thumbnail {
    width: 50%;
    margin-top: 10px;
}

.container-fluid {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0px auto;
    width: 70%;

}

.container-fluid :hover{
    background-color: #7BDCB5;
    color: white;
}

/* Coffee Pics */
.coffee-images {
    display:flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 20px;
    position: relative;
    border-radius: 12px;
    grid-template-rows: repeat(2, 1fr);
}

  .image1
  {
    display:flex;
    border-radius: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
    border: solid;
    border-width: 0.01x;
    border-color:black;
    width: 30%;
  }
  .image2
  {
    display:flex;
    border-radius: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
    border: solid;
    border-width: 0.01x;
    border-color:black;
    width: 30%;
  }
  .image3
  {
    display:flex;
    border-radius: 20px;
    margin-right: 2;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
    border: solid;
    border-width: 0.01x;
    border-color:black;
    width: 30%;
  }

.events
  {
    display: flex;
    justify-content: center;
    align-content: centre;
    margin: 0px auto;
    width: 50%;
  }

.event1
  {
    border-radius: 10px;
    border: solid;
    border-width: 0.01x;
    border-color:black;
  }
.heading1
  {
font-family: bebas neue, roboto;
margin-left: auto;
width: 55%;
align-items: center;
justify-items: center;
font-size: 25px;
  }
.heading2
  {
font-family: bebas neue, roboto;
margin-left: auto;
width: 55%;
align-items: center;
justify-items: center;
font-size: 25px;
  }

/* Staff Pics */
.aboutus {
  width: 100%;
  display: block;
  margin: 0px auto;
  margin-bottom: 20px;
}

.staffpics {
  float: right;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 25%;
  padding: 10px;
  margin: 0px auto;
  margin-right: 150px;
}

.staff {
  max-width: 100%;
  max-height: 100%;
  margin: 10px;
}

/* Map */
.findus {
  width: 100%;
  display:inline-table;
  
}

.map {
  float: left;
  width: 50%;
  justify-content: center;
  align-content: center;
  text-align: center;
 }

 .address {
  float: right;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
 }

/* Footer */
footer {
  background-color: #7BDCB5;
  color: white;
  padding: 10px;
  margin: 20px;
}

p.hashtag {
  text-align: center;
}

.socials {
  text-align: center;
  word-spacing: 15px;
}

.solid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  float: left;
  clear: right;
  margin-right: -10px;
}

.socials .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.socials a {
  text-decoration: none;
  color: white;
  font-size:x-large;
}

.socials a:hover {
  background-color: #abb8c3;
}

.newsletter {
  text-align: center;
}

.newsletterbox {
border-radius: 12px;
padding: 0px 0px 0px 16px;
width: 70%;
height: 50px;
text-align: left;
color:black;
font-size: 20px;
font-weight: 400;
letter-spacing: 0px;
background-color: rgb(255, 255, 255);
border: 1px solid #7BDCB5;
}

.subscribebutton {
  background-color: #7BDCB5;
  border-radius: 6px;
  border: 6px solid #7BDCB5;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1;
  white-space: normal;
  padding: 11px 10px;
  text-align: center;
  word-break: break-word;
  align-self: flex-end;
  cursor: pointer;
  height: auto;
}

.subscribebutton:hover {
  background-color: #abb8c3;
}